#map,
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
/* apply styling for the legend itself */
.legend {
  width: 50px;
  height: 90px;
  line-height: 15px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
/* apply styling for each element inside the legend */
.legend i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.8;
}